<nav style="width: 100%; display: block">
    @*<div style="position: absolute; left: 15%; border: 1px solid #5FB878; z-index: 999; background-color: #FFFFFF;width: 10%;">
        <a asp-action="Index" asp-controller="Index">
            <img style="width: 100%; height: 100%;" src="~/images/default.jpg" />
        </a>
    </div>*@
    <ul class="layui-nav h10v bg-white" id="div-header">
        @*<li class="layui-nav-item fr mr15p"><a class="black" asp-controller="Blog" asp-action="Index">博客</a></li>
        <li class="layui-nav-item fr"><a class="black" asp-controller="Hero" asp-action="Index">Hero</a></li>
        <li class="layui-nav-item fr layui-this"><a class="black" asp-controller="Index" asp-action="Index">首页</a></li>*@
    </ul>
</nav>
